<!DOCTYPE html>
<html>

<head>
    <title>KraKen the Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ style_css }}"
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <script src="{{ tools_js }}"></script>
    <script src="{{ main_js }}" ></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <!--<meta name="google-signin-client_id" content="95366867191-gjj1d97guk88o6lj23338lma223hrk31.apps.googleusercontent.com">-->
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>KraKen the Code</h1>
        </div>
        <div class="jumbotron">
            <div id="my-signin2"></div>
        </div>
    </div>
</body>

</html>