<!DOCTYPE html>
<html>

<head>
    <title>KraKen the Code</title>
    <link rel="icon" href="/static/img/favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" style type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/tools.js"></script>
    <script src="/static/js/main.js" ></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-md-4">
                    <img id="kraken-main-logo" src="/static/img/kraken_logo.png">
                </div>
                <div class="col-md-8">
                    <h1>KraKen the Code</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
        <div class="jumbotron" id="main-p-jumbo">
            <p>some nicey blahblah about our product</p>
            <div class="well">
                <div id="my-signin2"></div>
                <h2 id="login-text">Google login</h2>
            </div>
        </div>
    </div>
</body>

</html>